# dependencies
node_modules/
**/node_modules/

# env / secrets — NEVER commit these
/backend/.env
**/.env
*.pem
*.key

# python
__pycache__/
*.pyc
.venv/
venv/
/ml-service/google-credentials.json

backend/uploads/*

# builds
dist/
build/
frontend/dist/

# misc
.DS_Store
*.log